<h2 class="form-heading">Add a billing record</h2>
<form class="child-form" (submit)="addNewBillingRecord()">
  <div class="form-control-row">
    <label for="client" class="form-control-label form-control-label-required">Client</label>
    <select name="client" [(ngModel)]="clientId" required id="client" class="form-control" required>
      <option value="">Select a client...</option>
      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
    </select>
  </div>
  <div class="form-control-row">
    <label for="rate" class="form-control-label form-control-label-required">Rate</label>
    <input [(ngModel)]="rate" class="form-control" id="rate" name="rate" type="number" aria-required="true" required>
  </div>
  <div class="form-control-row">
    <label for="amount" class="form-control-label form-control-label-required">Amount</label>
    <input [(ngModel)]="amount" id="amount" class="form-control" name="amount" type="number" aria-required="true" required>
  </div>
  <div class="form-control-row">
    <label for="description" class="form-control-label form-control-label-required">Description</label>
    <input [(ngModel)]="description" id="description" class="form-control" name="description" type="text" aria-required="true" required>
  </div>
  <div class="form-control-row">
    <button class="app-btn app-btn-primary">Create</button>
  </div>
</form>
