@import '../variables.scss';

:host {
  display: block;
}

main {
  display: flex;
  position: relative;

  .parent {
    flex: 1 0 0px;
    overflow: hidden;
  }

  .child {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 300px;
    transition: transform .3s;
    transform: translateX(300px);
    @include app-shadow();
  }

  .child.show {
    transform: translateX(0);
  }
}

.is-active {
  width: 100px;
}
